<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.test.MultiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AdvanceDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelectDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test2</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Initalization</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CleanUp</td>
<td>&nbsp;</td></tr>
</table>
