<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:26:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiTest.CleanUp()[pri:0, instance:com.test.MultiTest@32b260fa]">&lt;&lt;CleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262854901</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:26:00</td>   <td>-4803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.SelectDropDown()[pri:0, instance:com.test.MultiTest@32b260fa]">SelectDropDown</td> 
  <td>main@1262854901</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:26:02</td>   <td>-3074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.Test1()[pri:0, instance:com.test.MultiTest@32b260fa]">Test1</td> 
  <td>main@1262854901</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:26:05</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.Test2()[pri:0, instance:com.test.MultiTest@32b260fa]">Test2</td> 
  <td>main@1262854901</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:25:45</td>   <td>-20324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiTest.Initalization()[pri:0, instance:com.test.MultiTest@32b260fa]">&gt;&gt;Initalization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1262854901</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/12/10 19:26:02</td>   <td>-3068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiTest.AdvanceDropDown()[pri:0, instance:com.test.MultiTest@32b260fa]">AdvanceDropDown</td> 
  <td>main@1262854901</td>   <td></td> </tr>
</table>
